.bangladesh{
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #006a4e;
    border: 2px solid #000000;
    margin: auto;
}
.bangladesh_round {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #f42a41;
    position: absolute ;
    bottom: 50px;
    right: 230px;
}
.coment_bangladesh{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.bangladesh:hover + .coment_bangladesh{
    visibility: visible;
}