.cuba{
    border: 2px solid #000000;
    position: relative;
    height:300px;
    width:600px;
    background: #2259A6;
    margin: auto;
}
.cuba_item{
    position: absolute;
    background: #FFFFFF;
    height:60px;
    width: 600px;
}
.cobe_line_top{
    top: 60px;
}
.cobe_line_bottom{
    bottom: 60px;
}
.cuba_triangle{
    content:"";
    position: absolute;
    border-top: 150px solid transparent;
    border-left: 300px solid #DD0024;
    border-bottom: 150px solid transparent;
}
.cuba_star{
    position: absolute;
    display: block;
    top: 130px;
    left: 60px;
    width: 0;
    height: 0;
    border-right:  50px solid transparent;
    border-bottom: 35px  solid #FFFFFF;
    border-left:   50px solid transparent;
    transform:    rotate(35deg);
}
.cuba_star:before {
    content: '';
    border-bottom: 40px solid #FFFFFF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -25px;
    left: -35px;
    display: block;
    transform: rotate(-35deg);

}
.cuba_star:after {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: -55px;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #FFFFFF;
    border-left: 50px solid transparent;
    transform: rotate(-70deg);
}

.coment_cuba{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.cuba:hover +.coment_cuba{
    visibility: visible;
}