.czech{
    border: 2px solid #000000;
    position: relative;
    height:300px;
    width:600px;
    background-color: white;
    margin: auto;
}
.czech:after{
    content:"";
    position: absolute;
    border-top: 150px solid transparent;
    border-left: 250px solid blue;
    border-bottom: 150px solid transparent;
}
.czech:before{
    content:"";
    display:block;
    position: absolute;
    background-color: red;
    top:150px;
    height:150px;
    width: 600px;
}
.coment_czech{
    visibility: hidden;
    text-align: center;
	font-size: 24px;
}
.czech:hover +.coment_czech{
    visibility: visible;
}