.guinee{
    height: 300px;
    width: 600px;
    border: 2px solid #000000;
    margin: auto;
}
.guinee_line_item {
    width: 33.3338%;
    height: 100%;

}
.bblock_1 {
    float: left;
    background: #ce1126;
}
.bblock_2 {
    float: left;
    background: #fcd116;
}
.bblock_3 {
    float: right;
    background: #009460;
}
.coment_guinee{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.guinee:hover + .coment_guinee{
    visibility: visible;
}