.italy_item{
    border: 2px solid #000000;
    height: 300px;
    width: 600px;
    margin: auto;
    background: #FFFFFF;
}
.italy_line {
    height: 300px;
    width: 200px;
    border-left: 200px solid #209603;
    border-right: 200px solid #FD0001;
}
.coment_italy{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.italy_item:hover + .coment_italy{
    visibility: visible;
}

