.russia{
    height: 300px;
    width: 600px;
    border: 2px solid #000000;
    background: #FE0102;
    margin: auto;
}
.russia_line_item {
    height: 100px;
}
.russia_line_up{
    background: #FFFFFF;
}
.russia_line_center{
    background: #0000FF;
}
.coment_russia{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.russia:hover + .coment_russia{
    visibility: visible;
}