.scotland{
    display: block;
    position: relative;
    width: 600px;
    height: 300px;
    border: 2px solid blue;
    background-color: white;
    margin: auto;
}
.scotland_triangle-item{
    position: absolute;
}

.scotland_triangle-up {
    top:180px;
    left: 65px;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 120px solid blue;
}
.scotland_triangle-right {
    top: 30px;
    border-top: 120px solid transparent;
    border-left: 240px solid blue;
    border-bottom: 120px solid transparent;
}
.scotland_triangle-left{
    top: 30px;
    right: 0;
    border-top: 120px solid transparent;
    border-right: 240px solid blue;
    border-bottom: 120px solid transparent;
}

.scotland_triangle-down {
    left: 65px;
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 120px solid blue;
}
.coment_scotland{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.scotland:hover +.coment_scotland{
    visibility: visible;
}