.sverige{
    position: relative;
    width: 600px;
    height: 300px;
    background-color: #006aa7;
    border: 2px solid #000000;
    margin: auto;
}
.sverige_item{
    position: absolute;
    background-color:#fecc00;
}
.sverige_line_vertical{
    width:50px;
    height: 300px;
    left:150px;
}
.sverige_line_horizontal{
    height:50px;
    width:600px;
    top:125px;
}
.coment_sverige{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.sverige:hover + .coment_sverige{
    visibility: visible;
}