.vietnam_item{
    height: 300px;
    width: 600px;
    border: 2px solid #000000;
    background: #D9241D;
    margin: auto;
    display: flex;
    justify-content: center;
}
.vietnam_star{
    position: relative;
    display: block;
    color: #FFFF02;
    top: 120px;
    width: 0;
    height: 0;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid #FFFF02;
    border-left:   100px solid transparent;
    transform:    rotate(35deg);
}
.vietnam_star:before {
    content: '';
    border-bottom: 80px solid #FFFF02;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    transform: rotate(-35deg)

}
.vietnam_star:after {
    position: absolute;
    content: '';
    display: block;
    color: #FFFF02;
    top: 3px;
    left: -105px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #FFFF02;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
}

.coment_vietnam{
    visibility: hidden;
    text-align: center;
    font-size: 24px;
}
.vietnam_item:hover + .coment_vietnam{
    visibility: visible;
}